body{
    background-color: #e9ecef!important;
}

.container{
    background-color: #fff!important;
    /* padding-top: 100px; */
}

.tableHistory {
    width: 100%;
    font-weight: normal !important;
    background: grey;
}

.tableHistory tr:nth-child(even) {
    background: rgb(255, 255, 255);
}

.tableHistory tr:nth-child(odd) {
    background: rgb(230, 230, 230);
}

.tableHistory th {
    height: 40px;
    padding: 5px 0;
}

.tableHistory img {
    max-width: 400px;
    max-height: 300px;
}

.tableHistory {
    display: none;
}

.tableHistory1 {
    display: table;
}

.linkReactPage {
    text-decoration: none;
    font-weight: normal;
    padding-left: 8px;
}

.pageSelect {
    text-align: center;
    font-size: 24px;
}

.productInfo{
    position: absolute!important;
    bottom: 0px;
    right: 0px;
    height: 500px
}

.product{
    padding: 100px 15px 50px;
}

.navbar-fixed {
    background: #e9ecef!important;
    position: fixed!important;
    top: 0!important;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
    z-index: 999;
}

.navbar {
    /*position: fixed!important;
    top: 0!important;*/
    width: 100%;
    
    -webkit-box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
    box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
}

.nav-link{
    padding: 0px 5px!important;
}

.breadcrumb {
    background-color: transparent!important;
}

.push {
    margin-top: 70px!important;
}

.loggedIn {
    position: fixed;
    bottom: 0;
    left: 0;
    background: orange;
    padding: 2px;
}

.singleMenuItem {
    width: 33.33%;
    float: left;
    height: 100%;
}

.logo-img {
    height: 70px;
    width: 100%;
    background-size: contain!important;
}

.search-form {
    display: block!important;
    text-align: center;
    position: relative;
    top: 15px;
}

.winkelmandStyle {
    background: red;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    margin-left: -10px;
    color: #fff;
}

.singleLink {
    margin: 0 auto;
    display: block!important;
    color: #00BCF2;
    top: 15px;
    position: relative;
    float: right;
    text-align: center;
}

.singleLink i {
    font-size: 32px;
}

.singleMenuItemContent {
    height: 100%;
}

.navbar-fix {
    margin: 0 auto;
}

.push-padding {
    padding-top: 30px;
}

.search-form-style {
    font-size: 12px!important;
    width: 60%!important;
}

.navUserName {
    margin-right: 7px;
}

.specialNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
}