body{
    background-color: #e9ecef!important;
    overflow-y: scroll;
}

.container{
    background-color: #fff!important;
    /* padding-top: 100px; */
}

.tableHistory {
    width: 100%;
    font-weight: normal !important;
}

.tableHistory {
    display: none;
}

.tableHistory1 {
    display: table;
}

.linkReactPage {
    text-decoration: none;
    font-weight: normal;
    padding: 0 8px;
    border-right: 1px solid #d6d6d6;
    line-height: 30px;
    display: inline-block
}

.linkReactPage:hover, .buttonPageSelect:hover {
    cursor: pointer;
}

.linkReactPage:last-child {
    border: none;
}

.pageSelect {
    text-align: center;
    font-size: 14px;
    margin-top: -10px;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 30px;
}

.productInfo {
    position: absolute!important;
    bottom: 0px;
    right: 0px;
    height: 500px
}

.product {
    padding: 100px 15px 50px;
}

.navbar-fixed {
    background: #e9ecef!important;
    position: fixed!important;
    top: 0!important;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
    z-index: 999;
}

.navbar {
    /*position: fixed!important;
    top: 0!important;*/
    width: 100%;
    
    -webkit-box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
    -moz-box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
    box-shadow: 0px 1px 5px 0px rgba(48,48,48,0.4);
}

.nav-link{
    padding: 0px 5px!important;
}

.breadcrumb {
    background-color: transparent!important;
}

.push {
    margin-top: 70px!important;
}

.loggedIn {
    position: fixed;
    bottom: 0;
    left: 0;
    background: orange;
    padding: 2px;
    z-index: 999;
}

.singleMenuItem {
    width: 33.33%;
    float: left;
    height: 100%;
}

.logo-img {
    height: 70px;
    width: 100%;
    background-size: contain!important;
}

.search-form {
    display: block!important;
    text-align: center;
    position: relative;
    top: 15px;
}

.winkelmandStyle {
    background: red;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 0;
    margin-left: -10px;
    color: #fff;
}

.singleLink {
    margin: 0 auto;
    display: block!important;
    color: #00BCF2;
    top: 15px;
    position: relative;
    float: right;
    text-align: center;
}

.singleLink i {
    font-size: 32px;
}

.singleMenuItemContent {
    height: 100%;
}

.navbar-fix {
    margin: 0 auto;
}

.push-padding {
    padding: 30px 0 50px;
}

.search-form-style {
    font-size: 12px!important;
    width: 60%!important;
}

.navUserName {
    margin-right: 7px;
}

.specialNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageSelectInner {
    display: inline-block;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.buttonPageSelect {
    display: inline;
    background: #fff;
    border: 1px solid #d6d6d6;
    border-top-right-radius: 0px;
    margin: 0;
    line-height: 28px;
}

.buttonPrev {
    position: relative;
    left: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.buttonNext {
    position: relative;
    left: -4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pageSelected {
    background: #007bff;
    color: #fff!important;
}





.product{
    color: black;
    font-size: 15px;
    }
    .artikel{
        padding: 50px 20px;
        float: left;
    }
    
    .btn-outline-success{
        background: #00bcf2;
        border-color: #818182;
        color: white;
    }
    
    .btn-outline-success:hover{
        background: #007bff;
        border-color: #818182;
        
    }
    
    .card-text{
        height: 60px;
    }
    
    .card-title{
        height: 50px
    }
    
    .wagen{
        background-color: #00bcf2;
        border-color: #818182;
/*        border-radius: 0;*/
       
    }
    
    * {box-sizing:border-box}

    .img {
        height: 300px;
        width: 100%;
   
    }
    
    .btn-group{
        max-width: 1140px;
        border-radius: 0;
        overflow: hidden;
    }
    
    .btn-group>button{
        width: 130px;
        border-radius: 0;
        color: #818182;
        background-color: #eee;
        border-color: lightgrey;
    }
    
    .btn-group>button:hover {
    background-color: #eee;
    color: #00bcf2;
    border-color: lightgrey;
    
}
/* Slideshow container */
.slideshow-container {
  height: 300px;
  position: relative;
  margin: auto;
  max-width: 1140px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}

.price{
    position: absolute;
    bottom: 16px;
    right: 20px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.card-image {
    max-height: 250px;
    overflow: hidden;
}

.formGoToCheckout {
    float: right;
}

.card-supply {
    color: black;
}

.SupplyLow {
    color: red;
}

.SupplyHigh {
    color: green;
}

.noJavascript {
    width: 70%;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 999999;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease 0s;
}

.errorMessageColorRed {
    background: #f48181;
    color: #fff;
    border: 1px solid #dc3232;
    border-radius: 5px;
}

.errorMessageColorGreen {
    background: #7AED61;
    color: #fff;
    border: 1px solid #44a03d;
    border-radius: 5px;
}

.borderColorGreen {
    color: #44a03d;
}

.borderColorRed {
    color: #dc3232;
}

.kruisje {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.noJavascript a {
    color: #fff;
    text-decoration: underline;
}

.noJavascript a:hover {
    color: #f2f2f2;
}

.kruisje:hover {
    cursor: pointer;
}

.buttons-slider {
    width: 100%;
    max-width: 100%;
}

.button-slider {
    margin-left: 0px!important;
}

.requiredField {
    color: #ff0000;
    margin-left: 2px;
}

.overzicht-bestellen {
    width: 100%;
    overflow: hidden;
}

.single-overzicht {
    width: 33.33%;
    float: left;
    border-left: 1px solid #dee2e6;
    padding: 0 0 0 10px;
}

.single-overzicht:first-child {
    border-left: none;
    padding: 0 10px 0 0;
}

.flex-fix {
    display: flex;
}

.full-button {
    float: right;
    color: #fff!important;
    background-color: #28a745!important;
}

.accountControls {
    width: 100%;
    overflow: hidden;
    border: 0.8px solid #d6d6d6;
    border-radius: 5px;
}

.singleAccountControl {
    float: left;
    text-align: center;
    padding: 10px 0;
    border-left: 1px solid #d6d6d6;
    font-weight: normal;
}

.singleAccountControl:hover {
    cursor: pointer;
}

.singleAccountControl:first-child {
    border-left: none;
}

.singleAccountControlActive {
    background: #00BCF2;
    color: #fff;
    font-weight: bold;
}

.accountContainerHidden {
    display: none;
}

.order {
    border: 0.8px solid #d6d6d6;
    border-radius: 5px;
}

.orderTop {
    border-bottom: 1px solid #d6d6d6;
    padding: 5px 10px;
    background: #00BCF2;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.orderTop:hover {
    cursor: pointer;
}

.orderArrowTopRotate {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

.orderMiddle {
    padding: 5px 10px;
    overflow: hidden;
}

.orderBottom {
    padding: 5px 10px;
    border-top: 1px solid #d6d6d6;
}

.floatContainer {
    float: left;
}

.orderContent {
    display: none;
}

.orderArrowDown {
    float: right;
    font-size: 40px;
    margin-top: -20px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .5s ease-in-out;
    transition: transform .5s ease-in-out; 
}